  body {
    font-family: Arial;
    background-image:linear-gradient(to top,#273441,#87898a);
  }
  h1{
      font-weight: bold;
      font-size: 35px;
      margin-top: 20px;
  }
  * {
    box-sizing: border-box;
  }
  form.example input[type=text] {
    padding: 10px;
    
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2E1437;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  form.example button:hover {
    background: #805080;
  }
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
.card{
    background-image:linear-gradient(to right,#273441,#87898a);
    color: whitesmoke;
}
.card-title{
    color: black;
}
.card1{
  color: black; font-size: medium; font-weight: bold;background-color: cadetblue;
}
